<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="OpenAPI (Swagger) Editor"
            class="com.xliic.openapi.settings.AuditConfigurable"
            id="org.eclipse.ui.examples.fieldassist.preferences.FieldAssistPreferencePage">
      </page>
   </extension>
   
	<extension
		 point="org.eclipse.ui.genericeditor.contentAssistProcessors">
	  <contentAssistProcessor
		class="com.xliic.openapi.editor.OpenAPIContentAssistProcessor"
		contentType="org.eclipse.core.runtime.text">
	  </contentAssistProcessor>
	</extension>
   
       <extension point="org.eclipse.ui.commands">
		<command
			id="com.xliic.openapi.gotoCommand"
			name="Go to Definition" />
  <command
        defaultHandler="com.xliic.openapi.actions.SecurityAuditAction"
        id="com.xliic.openapi.actions.SecurityAuditAction"
        name="Perform Security Audit">
  </command>
  <command
        defaultHandler="com.xliic.openapi.actions.PreviewAction"
        id="com.xliic.openapi.actions.PreviewAction"
        name="Show OpenAPI Preview">
  </command>
  <command
        defaultHandler="com.xliic.openapi.actions.PreviewSwaggerUIAction"
        id="com.xliic.openapi.actions.PreviewSwaggerUIAction"
        name="SwaggerUI">
  </command>
  <command
        defaultHandler="com.xliic.openapi.actions.PreviewReDocAction"
        id="com.xliic.openapi.actions.PreviewReDocAction"
        name="ReDoc">
  </command>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="com.xliic.openapi.gotoCommand"
			class="com.xliic.openapi.actions.GoToDefinitionAction" />
	</extension>    
	
   <extension
         point="org.eclipse.ui.menus">
         
     <menuContribution
                locationURI="popup:org.eclipse.ui.popup.any?before=undo">
                <command
                        commandId="com.xliic.openapi.gotoCommand"
                        id="com.xliic.openapi.gotoCommandId"
                        label="Go to Definition"
                        icon="icons/goto.png"
                        style="push">
                </command>
                   <visibleWhen
						 checkEnabled="true">
				   </visibleWhen>
     </menuContribution>

   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eclipse-openapi"
            name="OpenAPI">
      </category>
      <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.tree.ui.OpenAPITreeView"
            icon="icons/icon_api_16.png"
            id="com.xliic.openapi.tree.ui.OpenAPITreeView"
            inject="true"
            name="OpenAPI">
      </view>
      <view
            allowMultiple="false"
            category="eclipse-openapi"
            class=" com.xliic.openapi.report.tree.ui.ReportPanelView"
            icon="icons/icon_api_16.png"
            id=" com.xliic.openapi.report.tree.ui.ReportPanelView"
            inject="true"
            name="Audit Problems">
      </view>
      <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.report.html.ui.HTMLReportPanelView"
            icon="icons/icon_api_16.png"
            id="com.xliic.openapi.report.html.ui.HTMLReportPanelView"
            inject="true"
            name="API Security Audit">
      </view>
   </extension>

	<extension point="org.eclipse.ui.services">
	
		<serviceFactory factoryClass="com.xliic.openapi.services.DataServiceFactory">
			<service serviceClass="com.xliic.openapi.services.IDataService"></service>
		</serviceFactory>
			
		<serviceFactory factoryClass="com.xliic.openapi.services.ParserServiceFactory">
			<service serviceClass="com.xliic.openapi.services.IParserService"></service>
		</serviceFactory>
		
		<serviceFactory factoryClass="com.xliic.openapi.services.SnippetServiceFactory">
			<service serviceClass="com.xliic.openapi.services.ISnippetService"></service>
		</serviceFactory>
		
		<serviceFactory factoryClass="com.xliic.openapi.services.AuditServiceFactory">
			<service serviceClass="com.xliic.openapi.services.IAuditService"></service>
		</serviceFactory>
		
		<serviceFactory factoryClass="com.xliic.openapi.services.PreviewServiceFactory">
			<service serviceClass="com.xliic.openapi.services.IPreviewService"></service>
		</serviceFactory>
		
	</extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="OpenAPI"
            id="com.xliic.openapi.wizard">
      </category>
      <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardJson3"
            icon="icons/json.png"
            id="com.xliic.openapi.wizard.json.v3"
            name="JSON OpenAPI 3.0">
      </wizard>
      <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardJson2"
            icon="icons/json.png"
            id="com.xliic.openapi.wizard.json.v2"
            name="JSON OpenAPI 2.0">
      </wizard>
      <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardYaml3"
            icon="icons/text.png"
            id="com.xliic.openapi.wizard.yaml.v3"
            name="YAML OpenAPI 3.0">
      </wizard>
      <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardYaml2"
            icon="icons/text.png"
            id="com.xliic.openapi.wizard.yaml.v2"
            name="YAML OpenAPI 2.0">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.xliic.openapi.OpenAPIPerspectiveFactory"
            icon="icons/icon_api_16.png"
            id="com.xliic.openapi.OpenAPIPerspectiveFactory"
            name="OpenAPI">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.xliic.openapi.hover.OpenAPIMarkerResolutionGenerator"
            markerType="org.eclipse.core.resources.problemmarker">
      </markerResolutionGenerator>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.xliic.openapi.OpenAPIAbstractUIPlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=help">
         <menu
               id="com.xliic.openapi.menu"
               label="OpenAPI">
            <command
                  commandId="com.xliic.openapi.actions.SecurityAuditAction"
                  icon="icons/42crunch_icon.png"
                  style="push">
            </command>
            <menu
                  icon="icons/preview.png"
                  id="com.xliic.openapi.preview.menu"
                  label="Show OpenAPI Preview">
               <command
                     commandId="com.xliic.openapi.actions.PreviewSwaggerUIAction"
                     icon="icons/renderer.png"
                     id="com.xliic.openapi.actions.PreviewSwaggerUIAction"
                     label="SwaggerUI"
                     style="push"
                     tooltip="Show OpenAPI Preview">
               </command>
               <command
                     commandId="com.xliic.openapi.actions.PreviewReDocAction"
                     icon="icons/renderer.png"
                     id="com.xliic.openapi.actions.PreviewReDocAction"
                     label="ReDoc"
                     style="push"
                     tooltip="Show OpenAPI Preview">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.xliic.openapi.toolbar"
               label="OpenAPI">
            <command
                  commandId="com.xliic.openapi.actions.SecurityAuditAction"
                  icon="icons/42crunch_icon.png"
                  style="push">
            </command>
            <command
                  commandId="com.xliic.openapi.actions.PreviewAction"
                  icon="icons/preview.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
	
</plugin>
