<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
        point="org.eclipse.ui.preferencePages">
        <page
            name="OpenAPI (Swagger) Editor"
            class="com.xliic.openapi.settings.SettingsConfigurable"
            id="com.xliic.openapi.settings.SettingsConfigurable">
        </page>
    </extension>

    <extension
         point="org.eclipse.ui.editors">  
      <editor
            name="WebFileEditorPart"
            class="com.xliic.openapi.webapp.editor.WebFileEditorPart"
            id="com.xliic.openapi.webapp.editor.WebFileEditorPart">
      </editor>
    </extension>
   
    <extension
        point="org.eclipse.ui.genericeditor.contentAssistProcessors">
        <contentAssistProcessor
            class="com.xliic.openapi.editor.OpenAPIContentAssistProcessor"
            contentType="org.eclipse.core.runtime.text">
        </contentAssistProcessor>
        <contentAssistProcessor
            class="com.xliic.openapi.platform.dictionary.completion.DictionaryContentAssistProcessor"
            contentType="org.eclipse.core.runtime.text">
        </contentAssistProcessor>
    </extension>

    <extension
        point="org.eclipse.ui.commands">
        <command
            id="com.xliic.openapi.gotoCommand"
            name="Go to Definition" />
        <command
            id="com.xliic.openapi.report.AuditExportReportAction"
            name="Export Audit Report" />
        <command
            id="com.xliic.openapi.platform.scan.ScanExportReportAction"
            name="Export Scan Report" />
        <command
            id="com.xliic.openapi.actions.LoadAuditReportAction"
            name="Load Security Audit Report from File" />
        <command
            id="com.xliic.openapi.platform.dictionary.quickfix.FixGlobalDictionaryAction"
            name="Update Data Dictionary Properties" />
        <command
            id="com.xliic.openapi.platform.scan.config.ScanOpenConfigurationAction"
            name="Open Scan Configuration File" />
        <command
            defaultHandler="com.xliic.openapi.actions.SecurityAuditAction"
            id="com.xliic.openapi.actions.SecurityAuditAction"
            name="OpenAPI: API Audit">
        </command>
        
        <command
            defaultHandler="com.xliic.openapi.platform.scan.ScanFirstOperationAction"
            id="com.xliic.openapi.platform.scan.ScanFirstOperationAction"
            name="OpenAPI: API Scan">
        </command>
        
        <command
            defaultHandler="com.xliic.openapi.preview.actions.PreviewAction"
            id="com.xliic.openapi.preview.actions.PreviewAction"
            name="Show OpenAPI Preview">
        </command>
        <command
            defaultHandler="com.xliic.openapi.preview.actions.PreviewSwaggerUIAction"
            id="com.xliic.openapi.preview.actions.PreviewSwaggerUIAction"
            name="SwaggerUI">
        </command>
        <command
            defaultHandler="com.xliic.openapi.preview.actions.PreviewReDocAction"
            id="com.xliic.openapi.preview.actions.PreviewReDocAction"
            name="ReDoc">
        </command>
        <command
            defaultHandler="com.xliic.openapi.refs.external.ExtRefReloadAction"
            id="com.xliic.openapi.actions.ExtRefReloadAction"
            name="Reload Remote References">
        </command>
        <command
            defaultHandler="com.xliic.openapi.actions.PlatformUploadAction"
            id="com.xliic.openapi.actions.PlatformUploadAction"
            name="Save To Platform">
        </command>
        <command
            defaultHandler="com.xliic.openapi.config.ConfigAction"
            id="com.xliic.openapi.config.ConfigAction"
            name="Open Settings">
        </command>
        <command
            defaultHandler="com.xliic.openapi.capture.CaptureAction"
            id="com.xliic.openapi.capture.CaptureAction"
            name="Convert HAR/Postman Files">
        </command>
        <command
            defaultHandler="com.xliic.openapi.actions.internal.ClearAllPropsAction"
            id="com.xliic.openapi.actions.internal.ClearAllPropsAction"
            name="Clear All Properties">
        </command>
        <command
            defaultHandler="com.xliic.openapi.actions.internal.GetIDEInfoAction"
            id="com.xliic.openapi.actions.internal.GetIDEInfoAction"
            name="Show IDE Info">
        </command>
        <command
            defaultHandler="com.xliic.openapi.actions.internal.ShowNotifications"
            id="com.xliic.openapi.actions.internal.ShowNotifications"
            name="Show Notifications">
        </command>
        <command
            defaultHandler="com.xliic.openapi.actions.internal.CloseWebEditors"
            id="com.xliic.openapi.actions.internal.CloseWebEditors"
            name="Close Web Editors">
        </command>
        <command
            defaultHandler="com.xliic.openapi.actions.internal.GenerateLargeScanReportAction"
            id="com.xliic.openapi.actions.internal.GenerateLargeScanReportAction"
            name="Generate Large Scan Report">
        </command>
        <command
            defaultHandler="com.xliic.openapi.actions.internal.WhatsNewAction"
            id="com.xliic.openapi.actions.internal.WhatsNewAction"
            name="Show What's New">
        </command>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler
            commandId="com.xliic.openapi.gotoCommand"
            class="com.xliic.openapi.actions.GoToDefinitionAction" />
        <handler
            commandId="com.xliic.openapi.platform.scan.config.ScanOpenConfigurationAction"
            class="com.xliic.openapi.platform.scan.config.ScanOpenConfigurationAction" />
        <handler
            commandId="com.xliic.openapi.actions.LoadAuditReportAction"
            class="com.xliic.openapi.actions.LoadAuditReportAction" />
        <handler
            commandId="com.xliic.openapi.report.AuditExportReportAction"
            class="com.xliic.openapi.report.AuditExportReportAction" />
        <handler
            commandId="com.xliic.openapi.platform.scan.ScanExportReportAction"
            class="com.xliic.openapi.platform.scan.ScanExportReportAction" />
        <handler
            commandId="com.xliic.openapi.platform.dictionary.quickfix.FixGlobalDictionaryAction"
            class="com.xliic.openapi.platform.dictionary.quickfix.FixGlobalDictionaryAction" />
    </extension>

   <extension
        point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=undo">
            <command
                commandId="com.xliic.openapi.platform.scan.ScanExportReportAction"
                id="com.xliic.openapi.platform.scan.ScanExportReportAction"
                label="Export Scan Report"
                icon="icons/export.png"
                style="push">
            </command>
        </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=undo">
            <command
                commandId="com.xliic.openapi.report.AuditExportReportAction"
                id="com.xliic.openapi.report.AuditExportReportAction"
                label="Export Audit Report"
                icon="icons/export.png"
                style="push">
            </command>
        </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=undo">
            <command
                commandId="com.xliic.openapi.platform.scan.config.ScanOpenConfigurationAction"
                id="com.xliic.openapi.platform.scan.config.ScanOpenConfigurationAction"
                label="Open Scan Configuration File"
                style="push">
            </command>
        </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=undo">
            <command
                commandId="com.xliic.openapi.platform.dictionary.quickfix.FixGlobalDictionaryAction"
                id="com.xliic.openapi.platform.dictionary.quickfix.FixGlobalDictionaryAction"
                label="Update Data Dictionary Properties"
                icon="icons/platform-data-dictionary.png"
                style="push">
            </command>
        </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=undo">
            <command
                commandId="com.xliic.openapi.actions.LoadAuditReportAction"
                id="com.xliic.openapi.actions.LoadAuditReportActionId"
                label="Load Security Audit Report from File"
                icon="icons/42crunch_icon.png"
                style="push">
            </command>
        </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=undo">
            <command
                commandId="com.xliic.openapi.gotoCommand"
                id="com.xliic.openapi.gotoCommandId"
                label="Go to Definition"
                icon="icons/goto.png"
                style="push">
            </command>
        </menuContribution>
   </extension>

   <extension
        point="org.eclipse.ui.views">
        <category
            id="eclipse-openapi"
            name="OpenAPI">
        </category>
        <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.outline.ui.OutlinePanelView"
            icon="icons/toolWindowLogo.png"
            id="com.xliic.openapi.tree.ui.OpenAPITreeView"
            inject="true"
            name="OpenAPI">
        </view>
        <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.report.tree.ui.ReportPanelView"
            icon="icons/toolWindowLogo.png"
            id="com.xliic.openapi.report.tree.ui.ReportPanelView"
            inject="true"
            name="Audit Problems">
        </view>
        <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.report.jcef.ui.JCEFReportPanelView"
            icon="icons/toolWindowAuditLogo.png"
            id="com.xliic.openapi.report.jcef.ui.JCEFReportPanelView"
            inject="true"
            name="API Security Audit">
        </view>
        <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.platform.tree.ui.PlatformPanelView"
            icon="icons/toolWindowCollectionsLogo.png"
            id="com.xliic.openapi.platform.tree.ui.PlatformPanelView"
            inject="true"
            name="Collections">
        </view>
        <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.tryit.jcef.ui.JCEFTryItPanelView"
            icon="icons/tryitPanel.png"
            id="com.xliic.openapi.tryit.jcef.ui.JCEFTryItPanelView"
            inject="true"
            name="Try It">
        </view>
        <view
            allowMultiple="false"
            category="eclipse-openapi"
            class="com.xliic.openapi.environment.jcef.ui.JCEFEnvPanelView"
            icon="icons/envPanel.png"
            id="com.xliic.openapi.environment.jcef.ui.JCEFEnvPanelView"
            inject="true"
            name="Environment">
        </view>
    </extension>

    <extension
        point="org.eclipse.ui.services">
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.ISettingsService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IAuditService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IPreviewService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IBundleService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IASTService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IQuickFixService"></service>
        </serviceFactory>
          <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
             <service serviceClass="com.xliic.core.services.IPlaceHolderService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
             <service serviceClass="com.xliic.core.services.IExtRefService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IPlatformService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IDictionaryService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.ITryItService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IScanService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IScanConfService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.ITerminalService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IEnvService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IPrefsService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IConfigService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IAnnotationService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.ICliService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IWhatsNewService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.ISignUpService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.ITagsService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IInlayHintsService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.ICaptureService"></service>
        </serviceFactory>
        <serviceFactory factoryClass="com.xliic.core.services.CoreServiceFactory">
            <service serviceClass="com.xliic.core.services.IGraphQlService"></service>
        </serviceFactory>
    </extension>

    <extension
        point="org.eclipse.ui.newWizards">
        <category
            name="OpenAPI"
            id="com.xliic.openapi.wizard">
        </category>
        <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardJson31"
            icon="icons/json.png"
            id="com.xliic.openapi.wizard.json.v31"
            name="JSON OpenAPI 3.1">
        </wizard>
        <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardJson3"
            icon="icons/json.png"
            id="com.xliic.openapi.wizard.json.v3"
            name="JSON OpenAPI 3.0">
        </wizard>
        <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardJson2"
            icon="icons/json.png"
            id="com.xliic.openapi.wizard.json.v2"
            name="JSON OpenAPI 2.0">
        </wizard>
        <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardYaml31"
            icon="icons/text.png"
            id="com.xliic.openapi.wizard.yaml.v31"
            name="YAML OpenAPI 3.1">
        </wizard>
        <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardYaml3"
            icon="icons/text.png"
            id="com.xliic.openapi.wizard.yaml.v3"
            name="YAML OpenAPI 3.0">
        </wizard>
        <wizard
            category="com.xliic.openapi.wizard"
            class="com.xliic.openapi.wizard.OpenAPICreationWizardYaml2"
            icon="icons/text.png"
            id="com.xliic.openapi.wizard.yaml.v2"
            name="YAML OpenAPI 2.0">
        </wizard>
    </extension>

    <extension
        point="org.eclipse.ui.perspectives">
        <perspective
            class="com.xliic.openapi.OpenAPIPerspectiveFactory"
            icon="icons/toolWindowLogo.png"
            id="com.xliic.openapi.OpenAPIPerspectiveFactory"
            name="OpenAPI">
        </perspective>
    </extension>

    <extension
        point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="com.xliic.openapi.hover.OpenAPIMarkerResolutionGenerator"
            markerType="org.eclipse.core.resources.problemmarker">
        </markerResolutionGenerator>
    </extension>

    <extension
        point="org.eclipse.ui.startup">
        <startup
            class="com.xliic.openapi.EarlyStartup">
        </startup>
    </extension>

    <extension
        point="org.eclipse.ui.menus">
        <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=help">
            <menu
                id="com.xliic.openapi.menu"
                label="OpenAPI">
                <command
                    commandId="com.xliic.openapi.config.ConfigAction"
                    icon="icons/config.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.capture.CaptureAction"
                    icon="icons/capture.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.SecurityAuditAction"
                    icon="icons/42crunch_icon.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.platform.scan.ScanFirstOperationAction"
                    icon="icons/scan.png"
                    style="push">
                </command>
                <menu
                    icon="icons/preview.png"
                    id="com.xliic.openapi.preview.menu"
                    label="Show OpenAPI Preview">
                    <command
                        commandId="com.xliic.openapi.preview.actions.PreviewSwaggerUIAction"
                        icon="icons/renderer.png"
                        id="com.xliic.openapi.actions.PreviewSwaggerUIAction"
                        label="SwaggerUI"
                        style="push"
                        tooltip="Show OpenAPI Preview">
                    </command>
                    <command
                        commandId="com.xliic.openapi.preview.actions.PreviewReDocAction"
                        icon="icons/renderer.png"
                        id="com.xliic.openapi.actions.PreviewReDocAction"
                        label="ReDoc"
                        style="push"
                        tooltip="Show OpenAPI Preview">
                    </command>
                </menu>
                <command
                    commandId="com.xliic.openapi.actions.ExtRefReloadAction"
                    icon="icons/extref.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.PlatformUploadAction"
                    icon="icons/platform-save.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.internal.ClearAllPropsAction"
                    style="push">
                </command> 
                <command
                    commandId="com.xliic.openapi.actions.internal.GetIDEInfoAction"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.internal.ShowNotifications"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.internal.CloseWebEditors"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.internal.GenerateLargeScanReportAction"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.internal.WhatsNewAction"
                    style="push">
        		</command>
            </menu>
        </menuContribution>
        <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar
                id="com.xliic.openapi.toolbar"
                label="OpenAPI">
                <command
                    commandId="com.xliic.openapi.actions.SecurityAuditAction"
                    icon="icons/42crunch_icon.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.platform.scan.ScanFirstOperationAction"
                    icon="icons/scan.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.preview.actions.PreviewAction"
                    icon="icons/preview.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.ExtRefReloadAction"
                    icon="icons/extref.png"
                    style="push">
                </command>
                <command
                    commandId="com.xliic.openapi.actions.PlatformUploadAction"
                    icon="icons/platform-save.png"
                    style="push">
                </command>
            </toolbar>
        </menuContribution>
    </extension>

    <extension
        point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
        <hyperlinkDetector
            activate="true"
            class="com.xliic.openapi.hyperlink.OpenAPIHyperlinkDetector"
            id="com.xliic.openapi.hyperlink.OpenAPIHyperlinkDetector"
            name="OpenAPI"
            targetId="org.eclipse.ui.genericeditor.GenericEditor">
        </hyperlinkDetector>
    </extension>

</plugin>