{
    "openapi": "3.0.1",
    "info": {
        "title": "API for 42Crunch Platform",
        "version": "1.0"
    },
    "x-42c-deactivate-allowlist": true,
    "x-42c-request-strategies": [
        {
            "x-42c-strategy": {
                "protections": [
                    {
                        "x-42c-request-allowlist": {}
                    }
                ]
            }
        }
    ],
    "servers": [
        {
            "url": "https://us.42crunch.cloud/"
        }
    ],
    "paths": {
        "/api/v1/collections": {
            "get": {
                "deprecated": true,
                "tags": [
                    "CollectionManager"
                ],
                "summary": "List API collections",
                "operationId": "CollectionListLegacy",
                "x-42c-actions": [
                    "CollectionsRead"
                ],
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionListBody"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    },
                    "default": {
                        "description": "An unexpected error response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rpcStatus"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "CollectionManager"
                ],
                "summary": "Create a new API collection",
                "operationId": "CollectionCreate",
                "x-42c-actions": [
                    "CollectionsCreate"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionDescriptor"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Collection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    },
                    "default": {
                        "$ref": "#/components/responses/Default"
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/api/v1/login": {
            "post": {
                "x-42c-local-strategy": {
                    "x-42c-strategy": {
                        "protections": [
                            {
                                "x-42c-anond-request-limiter_0.1": {
                                    "hits": 5,
                                    "window": 60,
                                    "header.name.key": "X-Forwarded-For"
                                }
                            }
                        ]
                    }
                },
                "tags": [
                    "AuthManager"
                ],
                "summary": "Login a new user - return a session cookie",
                "operationId": "UserLogin",
                "x-42c-actions": [
                    "UsersLogin"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthLoginData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "A successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Session"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    },
                    "default": {
                        "$ref": "#/components/responses/Default"
                    }
                },
                "security": [],
                "x-codegen-request-body-name": "body"
            }
        },
        "/api/v2/vault/scan/organization/{vaultId}/meta": {
            "get": {
                "tags": [
                    "ScanVault"
                ],
                "summary": "Get the credentials vault metadata",
                "description": "This endpoint returns the metadata of the credential vault defined by `{vaultId}`",
                "operationId": "ScanVaultOrganizationGetMeta",
                "x-42c-actions": [
                    "ScanVaultsRead"
                ],
                "security": [
                    {
                        "cookieAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "vaultId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The response returns the credential vault metadata defined by `{vaultId}`.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VaultMeta"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    },
                    "default": {
                        "$ref": "#/components/responses/Default"
                    }
                }
            },
            "put": {
                "tags": [
                    "ScanVault"
                ],
                "summary": "Update a scan credentials vault metadata",
                "description": "This endpoint allows you to update metadata of a scan credentials vault defined by `{vaultId}`.",
                "operationId": "ScanVaultOrganizationUpdateMeta",
                "x-42c-actions": [
                    "ScanVaultsUpdate"
                ],
                "security": [
                    {
                        "cookieAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "vaultId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VaultMeta"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The response returns an empty object when the update is successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VaultMeta"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    },
                    "default": {
                        "$ref": "#/components/responses/Default"
                    }
                }
            }
        },
        "/api/v2/dataDictionaries": {
            "get": {
                "operationId": "DataDictionaryGetSummary",
                "x-42c-actions": [
                    "DataDictionariesGetContent"
                ],
                "summary": "Get data dictionaries summary",
                "description": "This endpoint returns a list of allowed Data Dictionaries. This list allows to get a single summary with dictionary informations. This is possible to include dictionary formats in the response using the query parameter {includeFormats}.",
                "tags": [
                    "DataDictionaries"
                ],
                "parameters": [
                    {
                        "name": "includeFormats",
                        "description": "This parameter allows to include all Data Dictionaries formats in the response.",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "no",
                                "yes"
                            ],
                            "default": "no"
                        }
                    }
                ],
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "token": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The response returns a list of available Data Dictionaries for the Organization.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataDictionariesSummary"
                                },
                                "example": {
                                    "list": [
                                        {
                                            "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                            "name": "banking",
                                            "description": "Proin ligula dolor, placerat non iaculis at, laoreet nec massa. Proin vulputate tincidunt mauris vestibulum tempor. Donec non tellus ligula. Ut a nunc quis risus ultricies condimentum. Mauris mollis eu lorem nec sodales. ",
                                            "shared": "no"
                                        },
                                        {
                                            "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                            "name": "network",
                                            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula dolor, placerat non iaculis at, laoreet nec massa. Proin vulputate tincidunt mauris vestibulum tempor. Donec non tellus ligula. Ut a nunc quis risus ultricies condimentum. Mauris mollis eu lorem nec sodales. ",
                                            "shared": "yes",
                                            "formats": {
                                                "hostname-v1": {
                                                    "primitiveType": "format",
                                                    "name": "o:network:hostname-v1",
                                                    "format": "hostname",
                                                    "type": "string",
                                                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate tincidunt mauris vestibulum tempor. Donec non tellus ligula. Ut a nunc quis risus ultricies condimentum. Mauris mollis eu lorem nec sodales. ",
                                                    "pattern": "^http\\://www.[a-zA-Z0-9\\-\\.]+\\.[a-zA-Z]{2,3}/$",
                                                    "example": "http://www.domain.tld",
                                                    "minLength": 0,
                                                    "maxLength": 100,
                                                    "readOnly": false,
                                                    "writeOnly": false,
                                                    "nullable": false,
                                                    "sensitivity": 1,
                                                    "pii": "no",
                                                    "objectIdentifier": "no",
                                                    "lastUpdate": "1637949572",
                                                    "lastChangeBy": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                                                },
                                                "interface-nb": {
                                                    "primitiveType": "format",
                                                    "name": "o:network:interface-nb",
                                                    "format": "interface-nb",
                                                    "type": "integer",
                                                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula dolor, placerat non iaculis at, laoreet nec massa. Proin vulputate tincidunt mauris vestibulum tempor. Donec non tellus ligula. Ut a nunc quis risus ultricies condimentum. Mauris mollis eu lorem nec sodales. ",
                                                    "example": "3",
                                                    "minimum": 0,
                                                    "maximum": 12,
                                                    "readOnly": false,
                                                    "writeOnly": false,
                                                    "nullable": false,
                                                    "sensitivity": 1,
                                                    "pii": "no",
                                                    "objectIdentifier": "no",
                                                    "lastUpdate": "1637941513",
                                                    "lastChangeBy": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                                                },
                                                "interface-name": {
                                                    "primitiveType": "format",
                                                    "name": "o:network:interface-name",
                                                    "format": "interface",
                                                    "type": "string",
                                                    "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula dolor, placerat non iaculis at, laoreet nec massa. Proin vulputate tincidunt mauris vestibulum tempor. Donec non tellus ligula. Ut a nunc quis risus ultricies condimentum. Mauris mollis eu lorem nec sodales. ",
                                                    "enum": [
                                                        "eth0",
                                                        "eth1",
                                                        "eth2",
                                                        "eth3"
                                                    ],
                                                    "example": "eth1",
                                                    "readOnly": false,
                                                    "writeOnly": false,
                                                    "nullable": false,
                                                    "sensitivity": 1,
                                                    "pii": "no",
                                                    "objectIdentifier": "no",
                                                    "lastUpdate": "1637289572",
                                                    "lastChangeBy": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                                                }
                                            }
                                        }
                                    ],
                                    "num": 2
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "429": {
                        "$ref": "#/components/responses/429"
                    },
                    "default": {
                        "$ref": "#/components/responses/Default"
                    }
                }
            },
            "post": {
                "operationId": "DataDictionaryCreate",
                "x-42c-actions": [
                    "DataDictionariesCreate"
                ],
                "summary": "Create a new Data Dictionary",
                "description": "This endpoint allows an admin user to create a new Data Dictionary the organization. If shared, this dictionary can be used by all users in the organization.",
                "tags": [
                    "DataDictionaries"
                ],
                "security": [
                    {
                        "cookieAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/dataDictionaryPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The response returns the just created Data Dictionary informations.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataDictionaryMeta"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "406": {
                        "$ref": "#/components/responses/406"
                    },
                    "415": {
                        "$ref": "#/components/responses/415"
                    },
                    "429": {
                        "$ref": "#/components/responses/429"
                    },
                    "default": {
                        "$ref": "#/components/responses/Default"
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "200Empty": {
                "description": "Invalid Input",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/empty"
                        }
                    }
                }
            },
            "400": {
                "description": "Invalid Input",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "401": {
                "description": "Invalid authorization",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "403": {
                "description": "Invalid authentication",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "404": {
                "description": "Not Found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "406": {
                "description": "Does not exist",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "409": {
                "description": "Conflict",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "415": {
                "description": "Unsupported Media Type",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "429": {
                "description": "Too many request",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "500": {
                "description": "Internal Error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            },
            "Default": {
                "description": "An unexpected error response.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/rpcStatus"
                        }
                    }
                }
            }
        },
        "schemas": {
            "dateFormatRFC3339": {
                "type": "string",
                "format": "RFC3339",
                "pattern": "^((?:(\\d{4}-\\d{2}-\\d{2})T(\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?))(Z|[\\+-]\\d{2}:\\d{2})?)$"
            },
            "base64": {
                "type": "string",
                "format": "byte",
                "minLength": 0,
                "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
            },
            "regAuthEndpoint": {
                "type": "object",
                "properties": {
                    "url": {
                        "type": "string"
                    }
                }
            },
            "regInvitationData": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "firstname": {
                        "type": "string"
                    },
                    "lastname": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    }
                }
            },
            "regRegisterData": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "firstname": {
                        "type": "string"
                    },
                    "lastname": {
                        "type": "string"
                    }
                }
            },
            "regVerifyData": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                }
            },
            "typesEmpty": {
                "type": "object"
            },
            "typesErrorOidc": {
                "type": "object",
                "properties": {
                    "path": {
                        "type": "string"
                    },
                    "action": {
                        "type": "string"
                    },
                    "err": {
                        "type": "string"
                    },
                    "errDesc": {
                        "type": "string"
                    }
                }
            },
            "typesMsg": {
                "type": "object",
                "properties": {
                    "value": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "typesRegisterSessionIdp": {
                "type": "object",
                "properties": {
                    "cookieState": {
                        "title": "mutually exclusive",
                        "type": "string"
                    },
                    "cookieInvitation": {
                        "type": "string"
                    },
                    "cookiePath": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "err": {
                        "$ref": "#/components/schemas/typesErrorOidc"
                    }
                }
            },
            "typesSessionIdp": {
                "type": "object",
                "properties": {
                    "cookieState": {
                        "title": "mutually exclusive",
                        "type": "string"
                    },
                    "cookiePath": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "err": {
                        "$ref": "#/components/schemas/typesErrorOidc"
                    }
                }
            },
            "typesSessionOAuth": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    }
                }
            },
            "typesSessionOidc": {
                "type": "object",
                "properties": {
                    "cookieSession": {
                        "type": "string"
                    },
                    "cookiePath": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "err": {
                        "$ref": "#/components/schemas/typesErrorOidc"
                    }
                }
            },
            "uint32": {
                "minimum": 0,
                "maximum": 4294967295,
                "type": "integer",
                "format": "uint32"
            },
            "uuid": {
                "description": "A universally unique identifier (UUID) is a 128-bit label used for information in computer systems.",
                "type": "string",
                "format": "uuid",
                "pattern": "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}",
                "maxLength": 36,
                "minLength": 36,
                "example": "123e4567-e89b-12d3-a456-426614174000"
            },
            "uuidOrEmpty": {
                "description": "A universally unique identifier (UUID) is a 128-bit label used for information in computer systems.",
                "type": "string",
                "format": "uuid",
                "pattern": "^(?:[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})?$",
                "maxLength": 36,
                "minLength": 36,
                "example": "123e4567-e89b-12d3-a456-426614174000"
            },
            "dataDictionaryId": {
                "description": "Standard data dictionary or designated by UUID v4",
                "type": "string",
                "pattern": "^(?:standard|[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})$",
                "maxLength": 36,
                "minLength": 8,
                "example": "123e4567-e89b-12d3-a456-426614174000"
            },
            "uuidReadOnly": {
                "type": "string",
                "format": "uuid",
                "pattern": "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}",
                "maxLength": 36,
                "minLength": 36,
                "readOnly": true
            },
            "PrefixedApiUuid": {
                "type": "string",
                "pattern": "^(?:(?:api)_)?[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
                "minLength": 36,
                "maxLength": 40,
                "example": "api_123e4567-e89b-12d3-a456-426614174000"
            },
            "PrefixedIdeUuid": {
                "type": "string",
                "pattern": "^(?:(?:ide)_)?[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
                "minLength": 36,
                "maxLength": 40,
                "example": "ide_123e4567-e89b-12d3-a456-426614174000"
            },
            "uuidNullable": {
                "description": "A universally unique identifier (UUID) is a 128-bit label used for information in computer systems.",
                "type": "string",
                "format": "uuid",
                "pattern": "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}",
                "maxLength": 36,
                "minLength": 36,
                "example": "123e4567-e89b-12d3-a456-426614174000",
                "nullable": true
            },
            "PercentageValue": {
                "description": "A value expressed as percentages (%)",
                "type": "integer",
                "format": "percentage",
                "minimum": 0,
                "maximum": 100,
                "default": 0,
                "example": 20
            },
            "email": {
                "type": "string",
                "format": "email",
                "minLength": 2,
                "maxLength": 63,
                "pattern": "^[\\w\\-+.]+@((\\w\\-?)+\\.){1,4}[a-zA-Z0-9]{2,63}$"
            },
            "securityExecDashboard": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "organizationSummary",
                    "apiSqgAuditApproval",
                    "apiScoring",
                    "apiIssues",
                    "apiStatus"
                ],
                "properties": {
                    "organizationSummary": {
                        "type": "object",
                        "required": [
                            "apisNumber",
                            "collectionsNumber",
                            "teamsNumber",
                            "usersNumber"
                        ],
                        "additionalProperties": false,
                        "properties": {
                            "apisNumber": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 98
                            },
                            "collectionsNumber": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 12
                            },
                            "teamsNumber": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 12
                            },
                            "usersNumber": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": "72"
                            }
                        }
                    },
                    "apiSqgAuditApproval": {
                        "type": "object",
                        "required": [
                            "pass",
                            "fail"
                        ],
                        "additionalProperties": false,
                        "properties": {
                            "pass": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 80
                            },
                            "fail": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 18
                            }
                        }
                    },
                    "apiScoring": {
                        "type": "object",
                        "required": [
                            "veryHigh",
                            "high",
                            "medium",
                            "low",
                            "n/a"
                        ],
                        "additionalProperties": false,
                        "properties": {
                            "veryHigh": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 40
                            },
                            "high": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 32
                            },
                            "medium": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 18
                            },
                            "low": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 8
                            },
                            "n/a": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 8
                            }
                        }
                    },
                    "apiIssues": {
                        "type": "object",
                        "required": [
                            "info",
                            "low",
                            "medium",
                            "high",
                            "critical"
                        ],
                        "additionalProperties": false,
                        "properties": {
                            "info": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 40
                            },
                            "low": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 32
                            },
                            "medium": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 18
                            },
                            "high": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 6
                            },
                            "critical": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 2
                            }
                        }
                    },
                    "apiStatus": {
                        "type": "object",
                        "required": [
                            "valid",
                            "structuralInvalid",
                            "semanticInvalid"
                        ],
                        "additionalProperties": false,
                        "properties": {
                            "valid": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 90
                            },
                            "structuralInvalid": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 2
                            },
                            "semanticInvalid": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "maximum": 9223372036854775807,
                                "example": 6
                            }
                        }
                    }
                }
            },
            "CustomMessage": {
                "type": "object",
                "additionalProperties": false,
                "description": "This schema describes the parameters for the `custom welcome message` feature that is shown to all\nusers on the platform UI or in IDE extensions. Organization administrators can manage these parameters\nin the organization settings. The parameters include a description (text) and a style\n(primary, secondary, success, danger, warning, info, light, dark).\nThe description text is printed as a block at the top of the main panel of the Get Started page.",
                "required": [
                    "message",
                    "style"
                ],
                "properties": {
                    "message": {
                        "type": "string",
                        "pattern": "^[\\w\\._\\-+',:;.\\(\\) @\\[\\]\\/#=\\%!&?]{1,1024}$",
                        "minLength": 1,
                        "maxLength": 1024
                    },
                    "style": {
                        "type": "string",
                        "enum": [
                            "primary",
                            "secondary",
                            "success",
                            "danger",
                            "warning",
                            "info",
                            "light",
                            "dark"
                        ],
                        "default": "light",
                        "example": "light"
                    }
                }
            },
            "RSSFeed": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "enabled",
                    "url"
                ],
                "properties": {
                    "enabled": {
                        "description": "This parameter allows switching the RSS reader on the Getting started page completely off or back on again.",
                        "type": "string",
                        "enum": [
                            "yes",
                            "no"
                        ],
                        "default": "yes"
                    },
                    "url": {
                        "type": "string",
                        "pattern": "^[\\w._\\-+,;.()@\\[\\]\\/\\:?&%|=]{15,255}$",
                        "minLength": 15,
                        "maxLength": 255,
                        "default": "https://apisecurity.io/feed/index.xml",
                        "example": "https://apisecurity.io/feed/index.xml"
                    }
                }
            },
            "ProtectionDirectoryUrl": {
                "type": "string",
                "nullable": true,
                "description": "Url can locate a directory or a file.",
                "pattern": "^https:\\/\\/[\\w\\.:-]+\\/api\\/v2\\/protections\\?path=^(?:o|42c|[tu]\\/([a-fA-F0-9]){8}-(?:(?1){4}-){3}(?1){12})(?:(?!\\.{2}|\\.\\/|\\/{2})[\\w\\-\\.\\/]){1,500}$",
                "example": "https://<platform_url>:8001/api/v2/protections?path=o:/path_1/path-2",
                "minLength": 40,
                "maxLength": 4000
            },
            "ProtectionDirectorySize": {
                "type": "integer",
                "format": "int64",
                "description": "Returns the size of the file in bytes, or 0 if this is a directory.",
                "example": 0
            },
            "ProtectionDirectoryType": {
                "type": "string",
                "description": "Returns the target's type, is the resource is a directory or a file?",
                "enum": [
                    "directory",
                    "file"
                ],
                "example": "directory"
            },
            "ProtectionDirectoryName": {
                "type": "string",
                "description": "A path can locate a directory or a file.",
                "pattern": "^(?:o|42c|[tu]\\/([a-fA-F0-9]){8}-(?:(?1){4}-){3}(?1){12})(?:(?!\\.{2}|\\.\\/|\\/{2})[\\w\\-\\.\\/]){1,500}$",
                "minLength": 2,
                "maxLength": 4000,
                "example": "o/path_1/path-2"
            },
            "ProtectionDirectory": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "path": {
                        "$ref": "#/components/schemas/ProtectionDirectoryName"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ProtectionDirectoryType"
                    },
                    "size": {
                        "$ref": "#/components/schemas/ProtectionDirectorySize"
                    },
                    "url": {
                        "$ref": "#/components/schemas/ProtectionDirectoryUrl"
                    },
                    "isEmpty": {
                        "type": "boolean"
                    }
                }
            },
            "ProtectionDirectoryList": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "protectionDirectories"
                ],
                "properties": {
                    "protectionDirectories": {
                        "title": "Directories summary.",
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/ProtectionDirectory"
                        }
                    }
                }
            },
            "ProtectionDirectoryPayload": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "path"
                ],
                "properties": {
                    "path": {
                        "$ref": "#/components/schemas/ProtectionDirectoryName"
                    }
                }
            },
            "ProtectionTypeV2Payload": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "path": {
                        "$ref": "#/components/schemas/ProtectionDirectoryName"
                    },
                    "contents": {
                        "$ref": "#/components/schemas/base64"
                    }
                }
            },
            "ProtectionTypeListV2Payload": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "protectionTypes": {
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 999999999999,
                        "items": {
                            "$ref": "#/components/schemas/ProtectionTypeV2Payload"
                        }
                    }
                }
            },
            "ProtectionTypeV2": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "path": {
                        "$ref": "#/components/schemas/ProtectionDirectoryName"
                    },
                    "size": {
                        "$ref": "#/components/schemas/ProtectionDirectorySize"
                    },
                    "url": {
                        "$ref": "#/components/schemas/ProtectionDirectoryUrl"
                    },
                    "contents": {
                        "$ref": "#/components/schemas/base64"
                    },
                    "dependencies": {
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 999999999999,
                        "items": {
                            "$ref": "#/components/schemas/ProtectionDirectoryUrl"
                        }
                    }
                }
            },
            "ProtectionTypeListV2": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "protectionTypes": {
                        "title": "XXX TODO : Len to avoid js to compute",
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 999999999999,
                        "items": {
                            "$ref": "#/components/schemas/ProtectionTypeV2"
                        }
                    }
                }
            },
            "NamingConvention": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "pattern",
                    "description",
                    "example"
                ],
                "properties": {
                    "pattern": {
                        "$ref": "#/components/schemas/Regex"
                    },
                    "description": {
                        "$ref": "#/components/schemas/NamingConventionDescription"
                    },
                    "example": {
                        "$ref": "#/components/schemas/ApiName"
                    }
                }
            },
            "CollectionOwnershipResponse": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "The result of the owner user update: [true]: update success, [false]: update failed."
                    }
                }
            },
            "CollectionOwnership": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "collection": {
                        "$ref": "#/components/schemas/CollectionDescriptor"
                    },
                    "owner": {
                        "$ref": "#/components/schemas/CollectionOwner"
                    }
                }
            },
            "CollectionOwnershipReport": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 4294967295
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/CollectionOwnership"
                        }
                    }
                },
                "example": {
                    "num": 1,
                    "list": [
                        {
                            "collection": {
                                "id": "123e4567-e89b-12d3-a456-426614174000",
                                "name": "name",
                                "technicalName": "https://gitlab.com/myAccount/reponame",
                                "source": "gitlab",
                                "isShared": true,
                                "isSharedWrite": true
                            },
                            "owner": {
                                "id": "123e4567-e89b-12d3-a456-426614174000",
                                "lastname": "Doe",
                                "firstname": "John",
                                "username": "john.doe@42crunch.com"
                            }
                        }
                    ]
                }
            },
            "Entrypoints": {
                "title": "Entrypoints",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/Entrypoint"
                        }
                    }
                }
            },
            "GatewayConfigs": {
                "title": "GatewayConfigs",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/GatewayConfig"
                        }
                    }
                }
            },
            "SslClientProfiles": {
                "title": "SslClientProfiles",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/SslClientProfile"
                        }
                    }
                }
            },
            "PkiClientProfiles": {
                "title": "PkiClientProfiles",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/PkiClientProfile"
                        }
                    }
                }
            },
            "SslServerProfiles": {
                "title": "SslServerProfiles",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/SslServerProfile"
                        }
                    }
                }
            },
            "PkiServerProfiles": {
                "title": "PkiServerProfiles",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/PkiServerProfile"
                        }
                    }
                }
            },
            "Instances": {
                "title": "Instances",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/Instance"
                        }
                    }
                }
            },
            "Endpoints": {
                "title": "Endpoints",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/Endpoint"
                        }
                    }
                }
            },
            "Deployments": {
                "title": "Deployments",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "list": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/Deployment"
                        }
                    }
                }
            },
            "Deployment": {
                "title": "Deployment",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "instanceId": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "apiCount": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 9999
                    },
                    "minimumBlockingLevel": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    },
                    "createAt": {
                        "$ref": "#/components/schemas/Timestamp"
                    }
                }
            },
            "Description": {
                "description": "A description which allows users to understand about the usage of the item.",
                "type": "string",
                "pattern": "^[\\w._\\-+',:;\\.() @\\[\\]\\/]{0,1024}$",
                "maxLength": 1024,
                "minLength": 1,
                "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus condimentum ligula vel varius. Donec sed felis ullamcorper, pellentesque magna ac, blandit magna. Curabitur nisl diam, elementum at tincidunt ut, tristique eget elit. Donec vitae enim pretium, laoreet leo eu, consectetur enim."
            },
            "NamingConventionDescription": {
                "description": "A description which allows users to understand how the describe their APIs and collection names",
                "type": "string",
                "pattern": "^[\\w\\._\\-+',:;.\\(\\) @\\[\\]\\/#=\\%!&?]{1,1024}$",
                "maxLength": 1024,
                "minLength": 1
            },
            "EndpointSettings": {
                "title": "EndpointSettings",
                "type": "object",
                "additionalProperties": false,
                "nullable": true,
                "properties": {
                    "timeout": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    },
                    "connectionTimeout": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    },
                    "keepAlive": {
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "preserveHost": {
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "addXFFHeaders": {
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "keepAliveTimeout": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    }
                }
            },
            "EntrypointSettings": {
                "title": "EntrypointSettings",
                "type": "object",
                "nullable": true,
                "additionalProperties": false,
                "properties": {
                    "additionalServerNames": {
                        "type": "array",
                        "maxItems": 20,
                        "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 50
                        }
                    },
                    "ip": {
                        "$ref": "#/components/schemas/stringNullable"
                    },
                    "port": {
                        "$ref": "#/components/schemas/stringNullable"
                    },
                    "timeout": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    },
                    "keepAlive": {
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "keepAliveTimeout": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    },
                    "logLevel": {
                        "$ref": "#/components/schemas/stringNullable"
                    }
                }
            },
            "PkiClientProfileSettings": {
                "title": "PkiClientProfileSettings",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "CAType": {
                        "$ref": "#/components/schemas/CertType"
                    },
                    "CRLType": {
                        "$ref": "#/components/schemas/CertType"
                    },
                    "checkPeerName": {
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "checkPeerExpire": {
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "mtls": {
                        "$ref": "#/components/schemas/ClientProfileMtls"
                    }
                }
            },
            "CertType": {
                "type": "string",
                "description": "This parameter allows us to know where to find the certificate or use certificate contained in directory",
                "nullable": true,
                "enum": [
                    "none",
                    "file",
                    "directory"
                ]
            },
            "ClientProfileMtls": {
                "title": "ClientProfileMtls",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "certificateType": {
                        "$ref": "#/components/schemas/CertType"
                    },
                    "certificateChainType": {
                        "$ref": "#/components/schemas/CertType"
                    }
                }
            },
            "SslClientProfileSettings": {
                "title": "SslClientProfileSettings",
                "type": "object",
                "additionalProperties": false,
                "nullable": true,
                "properties": {
                    "cipherSuite": {
                        "$ref": "#/components/schemas/CipherSuiteNullable"
                    },
                    "protocol": {
                        "$ref": "#/components/schemas/ProtocolNullable"
                    }
                }
            },
            "CipherSuiteNullable": {
                "nullable": true,
                "type": "string",
                "description": "This parameter allows to describe cipher suite to use to connect to Client/Server",
                "minLength": 0,
                "maxLength": 1024,
                "pattern": "^[\\w\\-+!:]{0,1024}$",
                "example": "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:"
            },
            "ProtocolNullable": {
                "nullable": true,
                "type": "string",
                "description": "This parameter allows to describe protocol to use to connect to the client",
                "pattern": "^[\\w\\-+!:\\.]{0,1024}$",
                "minLength": 0,
                "maxLength": 1024,
                "example": "-ALL +TLSv1.2"
            },
            "SslServerProfileSettings": {
                "title": "SslServerProfileSettings",
                "type": "object",
                "additionalProperties": false,
                "nullable": true,
                "properties": {
                    "protocol": {
                        "$ref": "#/components/schemas/ProtocolNullable"
                    },
                    "cipherSuite": {
                        "$ref": "#/components/schemas/CipherSuiteNullable"
                    },
                    "sessionTicket": {
                        "description": "This allows to enables/disable Session Tickets",
                        "$ref": "#/components/schemas/boolNullable"
                    }
                }
            },
            "PkiServerProfileSettings": {
                "title": "PkiServerProfileSettings",
                "type": "object",
                "additionalProperties": false,
                "nullable": true,
                "properties": {
                    "ocspStaplingEnabled": {
                        "description": "this property allow to enable/disable OCSP Stapling",
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "mtls": {
                        "$ref": "#/components/schemas/ServerProfileMtls"
                    }
                }
            },
            "ServerProfileMtls": {
                "title": "ServerProfileMtls",
                "type": "object",
                "additionalProperties": false,
                "nullable": true,
                "properties": {
                    "CAType": {
                        "$ref": "#/components/schemas/CertType"
                    },
                    "exposedCAType": {
                        "$ref": "#/components/schemas/CertType"
                    },
                    "CRLType": {
                        "$ref": "#/components/schemas/CertType"
                    },
                    "verify": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    },
                    "verifyDepth": {
                        "$ref": "#/components/schemas/uint32Nullable"
                    },
                    "ocspEnabled": {
                        "$ref": "#/components/schemas/boolNullable"
                    },
                    "ocspDefaultResponder": {
                        "$ref": "#/components/schemas/stringNullable"
                    }
                }
            },
            "DeploymentBuild": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "firewallConfigurationId",
                    "isSuccess",
                    "createTime",
                    "startTime",
                    "endTime",
                    "reportFile"
                ],
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "firewallConfigurationId": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "isSuccess": {
                        "description": "isSuccess is relevant when endTime is set",
                        "type": "boolean"
                    },
                    "createTime": {
                        "$ref": "#/components/schemas/Timestamp"
                    },
                    "startTime": {
                        "$ref": "#/components/schemas/Timestamp"
                    },
                    "endTime": {
                        "$ref": "#/components/schemas/Timestamp"
                    },
                    "reportFile": {
                        "description": "base64 encoded json report - relevant when endTime is set",
                        "type": "string",
                        "format": "byte",
                        "minLength": 0
                    }
                }
            },
            "Instance": {
                "title": "Instance",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "userId": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "gatewayConfigId": {
                        "$ref": "#/components/schemas/uuidOrEmpty"
                    }
                }
            },
            "ObjectId": {
                "title": "ObjectId",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    }
                }
            },
            "GatewaySettings": {
                "title": "GatewaySettings",
                "type": "object",
                "additionalProperties": false,
                "nullable": true,
                "properties": {
                    "mainLogLevel": {
                        "$ref": "#/components/schemas/stringNullable"
                    },
                    "maxClients": {
                        "$ref": "#/components/schemas/uint64Nullable"
                    }
                }
            },
            "GatewayConfig": {
                "title": "GatewayConfig",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "description": {
                        "$ref": "#/components/schemas/ProtectionProfileDescription"
                    },
                    "settings": {
                        "$ref": "#/components/schemas/GatewaySettings"
                    }
                }
            },
            "Entrypoint": {
                "title": "Entrypoint",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "description": {
                        "$ref": "#/components/schemas/ProtectionProfileDescription"
                    },
                    "url": {
                        "$ref": "#/components/schemas/ProtectionProfileURL"
                    },
                    "sslProfileId": {
                        "$ref": "#/components/schemas/uuidOrEmpty"
                    },
                    "pkiProfileId": {
                        "$ref": "#/components/schemas/uuidOrEmpty"
                    },
                    "instanceId": {
                        "$ref": "#/components/schemas/uuidOrEmpty"
                    },
                    "settings": {
                        "$ref": "#/components/schemas/EntrypointSettings"
                    },
                    "endpointIds": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                            "$ref": "#/components/schemas/uuid"
                        }
                    }
                }
            },
            "IdsAndProxyPass": {
                "title": "IdsAndProxyPass",
                "type": "array",
                "maxItems": 9999,
                "items": {
                    "$ref": "#/components/schemas/IdAndProxyPass"
                }
            },
            "SecuredRevisionAndBasePathList": {
                "title": "SecuredRevisionAndBasePathList",
                "type": "array",
                "maxItems": 9999,
                "items": {
                    "$ref": "#/components/schemas/SecuredRevisionAndBasePath"
                }
            },
            "SecuredRevisionAndBasePath": {
                "title": "SecuredRevisionAndBasePath",
                "type": "object",
                "properties": {
                    "securedRevisionId": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "basePath": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255,
                        "pattern": "^\\/.*"
                    },
                    "basePathPrefixes": {
                    "nullable": true,
                        "type": "array",
                        "maxItems": 999,
                        "items": {
                            "$ref": "#/components/schemas/BasePathPrefix"
                        }
                    }
                }
            },
            "Endpoint": {
                "title": "Endpoint",
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "description": {
                        "$ref": "#/components/schemas/ProtectionProfileDescription"
                    },
                    "url": {
                        "$ref": "#/components/schemas/ProtectionProfileURL"
                    },
                    "settings": {
                        "$ref": "#/components/schemas/EndpointSettings"
                    },
                    "sslProfileId": {
                        "$ref": "#/components/schemas/uuidOrEmpty"
                    },
                    "pkiProfileId": {
                        "$ref": "#/components/schemas/uuidOrEmpty"
                    },
                    "securedRevisionId": {
                        "$ref": "#/components/schemas/uuidOrEmpty"
                    },
                    "SecuredBasePaths": {
                        "$ref": "#/components/schemas/SecuredRevisionAndBasePathList"
                    },
                    "basePathPrefixes": {
                        "type": "array",
                        "maxItems": 999,
                        "items": {
                            "$ref": "#/components/schemas/BasePathPrefix"
                        }
                    }
                },
                "additionalProperties": false
            },
            "PkiClientProfile": {
                "title": "PkiClientProfile",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "settings": {
                        "$ref": "#/components/schemas/PkiClientProfileSettings"
                    }
                }
            },
            "PlaceHolder": {
                "type": "string",
                "enum": [
                    "organization",
                    "team",
                    "user",
                    "community"
                ],
                "default": "organization",
                "example": "organization"
            },
            "PkiServerProfile": {
                "title": "PkiServerProfile",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "settings": {
                        "$ref": "#/components/schemas/PkiServerProfileSettings"
                    }
                }
            },
            "SslClientProfile": {
                "title": "SslClientProfile",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "settings": {
                        "$ref": "#/components/schemas/SslClientProfileSettings"
                    }
                }
            },
            "SslServerProfile": {
                "title": "SslServerProfile",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "$ref": "#/components/schemas/ProtectionProfileName"
                    },
                    "settings": {
                        "$ref": "#/components/schemas/SslServerProfileSettings"
                    }
                }
            },
            "BasePathPrefix": {
                "title": "BasePathPrefix",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "in": {
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 100
                    },
                    "out": {
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 100
                    }
                }
            },
            "IdAndProxyPass": {
                "title": "IdAndProxyPass",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "basePathPrefixes": {
                        "type": "array",
                        "maxItems": 999,
                        "items": {
                            "$ref": "#/components/schemas/BasePathPrefix"
                        }
                    }
                }
            },
            "OwaspApiIssuesList": {
                "type": "array",
                "maxItems": 10,
                "uniqueItems": true,
                "items": {
                    "$ref": "#/components/schemas/OwaspApiIssue"
                }
            },
            "OwaspApiIssue": {
                "type": "integer",
                "format": "int32",
                "minimum": 1,
                "maximum": 10
            },
            "directivesAuditLegacy": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "invalid_contract": {
                        "type": "string",
                        "enum": [
                            "yes",
                            "no"
                        ],
                        "default": "yes"
                    },
                    "minimum_assessment_score": {
                        "$ref": "#/components/schemas/int64Nullable"
                    },
                    "minimum_assessment_security_score": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0,
                        "maximum": 30
                    },
                    "minimum_assessment_data_validation_score": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0,
                        "maximum": 70
                    },
                    "subcategory_rules": {
                        "$ref": "#/components/schemas/SubcategoryRulesLegacy"
                    },
                    "issue_rules": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "pattern": "^[a-zA-Z0-9-_@.:\\/]+",
                            "minLength": 1,
                            "maxLength": 128
                        },
                        "maxItems": 512
                    }
                }
            },
            "SubcategoryRulesLegacy": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "security": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "authentication": {
                                "$ref": "#/components/schemas/SeverityLevel"
                            },
                            "authorization": {
                                "$ref": "#/components/schemas/SeverityLevel"
                            },
                            "transport": {
                                "$ref": "#/components/schemas/SeverityLevel"
                            }
                        }
                    },
                    "data_validation": {
                        "$ref": "#/components/schemas/dataValidationLegacy"
                    }
                }
            },
            "dataValidationLegacy": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "parameters": {
                        "$ref": "#/components/schemas/SeverityLevel"
                    },
                    "response_headers": {
                        "$ref": "#/components/schemas/SeverityLevel"
                    },
                    "response_definition": {
                        "$ref": "#/components/schemas/SeverityLevel"
                    },
                    "schema": {
                        "$ref": "#/components/schemas/SeverityLevel"
                    },
                    "paths": {
                        "$ref": "#/components/schemas/SeverityLevel"
                    }
                }
            },
            "sqgAuditLegacy": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "name": {
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9-_@.+]+$",
                        "minLength": 1,
                        "maxLength": 255
                    },
                    "tagId": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "tagName": {
                        "$ref": "#/components/schemas/TagName"
                    },
                    "categoryName": {
                        "$ref": "#/components/schemas/CategoryName"
                    },
                    "categoryColor": {
                        "$ref": "#/components/schemas/HexadecimalColor"
                    },
                    "audit": {
                        "$ref": "#/components/schemas/directivesAuditLegacy"
                    }
                }
            },
            "sqgsAuditLegacy": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 4294967295
                    },
                    "list": {
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 4294967295,
                        "items": {
                            "$ref": "#/components/schemas/sqgAuditLegacy"
                        }
                    }
                }
            },
            "SqgsAudit": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "num",
                    "list"
                ],
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 4294967295
                    },
                    "list": {
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 4294967295,
                        "items": {
                            "$ref": "#/components/schemas/SqgAudit"
                        }
                    }
                }
            },
            "SqgAudit": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "name",
                    "tagId",
                    "tagName",
                    "categoryName",
                    "categoryColor",
                    "directives"
                ],
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuidReadOnly"
                    },
                    "name": {
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9-_@.+]+$",
                        "minLength": 1,
                        "maxLength": 255
                    },
                    "tagId": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "tagName": {
                        "$ref": "#/components/schemas/TagName"
                    },
                    "categoryName": {
                        "$ref": "#/components/schemas/CategoryName"
                    },
                    "categoryColor": {
                        "$ref": "#/components/schemas/HexadecimalColor"
                    },
                    "directives": {
                        "$ref": "#/components/schemas/SqgAuditDirectives"
                    }
                }
            },
            "SqgAuditDirectives": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "rejectInvalidContract",
                    "minimumAssessmentScores",
                    "subcategoryRules",
                    "issueRules"
                ],
                "properties": {
                    "rejectInvalidContract": {
                        "type": "string",
                        "enum": [
                            "yes",
                            "no"
                        ],
                        "default": "yes"
                    },
                    "minimumAssessmentScores": {
                        "$ref": "#/components/schemas/MinimalAssessmentScore"
                    },
                    "subcategoryRules": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                            "security",
                            "dataValidation"
                        ],
                        "properties": {
                            "security": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "authentication": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    },
                                    "authorization": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    },
                                    "transport": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    }
                                }
                            },
                            "dataValidation": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                    "parameters": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    },
                                    "responseHeaders": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    },
                                    "responseDefinition": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    },
                                    "schema": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    },
                                    "paths": {
                                        "$ref": "#/components/schemas/SeverityLevel"
                                    }
                                }
                            }
                        }
                    },
                    "issueRules": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "pattern": "^[a-zA-Z0-9-_@.:\\/]+",
                            "minLength": 1,
                            "maxLength": 128
                        },
                        "maxItems": 512
                    }
                }
            },
            "MinimalAssessmentScore": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "global",
                    "security",
                    "dataValidation"
                ],
                "properties": {
                    "global": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0,
                        "maximum": 100,
                        "example": 70
                    },
                    "security": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0,
                        "maximum": 30,
                        "example": 20
                    },
                    "dataValidation": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 0,
                        "maximum": 70,
                        "example": 50
                    }
                }
            },
            "SqgsScan": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "num",
                    "list"
                ],
                "properties": {
                    "num": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0,
                        "maximum": 4294967295
                    },
                    "list": {
                        "type": "array",
                        "minItems": 0,
                        "maxItems": 4294967295,
                        "items": {
                            "$ref": "#/components/schemas/SqgScan"
                        }
                    }
                }
            },
            "SqgScan": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "id",
                    "name",
                    "tagId",
                    "directives"
                ],
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/uuidReadOnly"
                    },
                    "name": {
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9-_@.+]+$",
                        "minLength": 1,
                        "maxLength": 255
                    },
                    "tagId": {
                        "$ref": "#/components/schemas/uuid"
                    },
                    "tagName": {
                        "$ref": "#/components/schemas/TagName"
                    },
[...]
