{
	"openapi": "3.0.1",
	"info": {
		"title": "API for 42Crunch Platform",
		"version": "1.0"
	},
	"x-42c-deactivate-allowlist": true,
	"x-42c-request-strategies": [
		{
			"x-42c-strategy": {
				"protections": [
					{
						"x-42c-request-allowlist": {}
					}
				]
			}
		}
	],
	"servers": [
		{
			"url": "https://us.42crunch.cloud/"
		}
	],
	"security": [
		{
			"cookieAuth": []
		},
		{
			"token": []
		}
	],
	"paths": {
		"/api/v2/dataDictionaries": {
			"post": {
				"operationId": "DataDictionaryCreate",
				"x-42c-actions": [
					"DataDictionariesCreate"
				],
				"summary": "Create a new Data Dictionary",
				"description": "This endpoint allows an admin user to create a new Data Dictionary the organization. If shared, this dictionary can be used by all users in the organization.",
				"tags": [
					"DataDictionaries"
				],
				"security": [
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/dataDictionaryPayload"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "The response returns the just created Data Dictionary informations.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DataDictionaryMeta"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/400"
					},
					"403": {
						"$ref": "#/components/responses/403"
					},
					"406": {
						"$ref": "#/components/responses/406"
					},
					"415": {
						"$ref": "#/components/responses/415"
					},
					"429": {
						"$ref": "#/components/responses/429"
					},
					"default": {
						"$ref": "#/components/responses/Default"
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"token": {
				"type": "apiKey",
				"name": "X-API-KEY",
				"in": "header"
			},
			"cookieAuth": {
				"type": "apiKey",
				"in": "cookie",
				"name": "sessionid"
			}
		},
		"responses": {
			"400": {
				"description": "Invalid Input",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/rpcStatus"
						}
					}
				}
			},
			"403": {
				"description": "Invalid authentication",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/rpcStatus"
						}
					}
				}
			},
			"406": {
				"description": "Does not exist",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/rpcStatus"
						}
					}
				}
			},
			"415": {
				"description": "Unsupported Media Type",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/rpcStatus"
						}
					}
				}
			},
			"429": {
				"description": "Too many request",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/rpcStatus"
						}
					}
				}
			},
			"Default": {
				"description": "An unexpected error response.",
				"content": {
					"application/json": {
						"schema": {
							"$ref": "#/components/schemas/rpcStatus"
						}
					}
				}
			}
		},
		"schemas": {
			"DataDictionaryMeta": {
				"type": "object",
				"additionalProperties": false,
				"required": [
					"name",
					"description",
					"shared"
				],
				"properties": {
					"id": {
						"$ref": "#/components/schemas/dataDictionaryId"
					},
					"name": {
						"$ref": "#/components/schemas/dictionaryName"
					},
					"description": {
						"$ref": "#/components/schemas/dictionaryDescription"
					},
					"shared": {
						"$ref": "#/components/schemas/dictionaryShared"
					}
				}
			},
			"dataDictionaryId": {
				"description": "Standard data dictionary or designated by UUID v4",
				"type": "string",
				"pattern": "^(?:standard|[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})$",
				"maxLength": 36,
				"minLength": 8,
				"example": "123e4567-e89b-12d3-a456-426614174000"
			},
			"dataDictionaryPayload": {
				"type": "object",
				"additionalProperties": false,
				"required": [
					"name",
					"description",
					"shared"
				],
				"properties": {
					"name": {
						"$ref": "#/components/schemas/dictionaryName"
					},
					"description": {
						"$ref": "#/components/schemas/dictionaryDescription"
					},
					"shared": {
						"$ref": "#/components/schemas/dictionaryShared"
					}
				}
			},
			"dictionaryDescription": {
				"description": "Short description to provide enough context for a reader in order to help him to understand the Data Dictionary contents. It should be as concise as possible (max. 255 characters).",
				"type": "string",
				"pattern": "^(?:[^\\x00-\\x1f\\x7f]|[\r\n]){2,255}$",
				"minLength": 0,
				"maxLength": 255,
				"example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ligula dolor, placerat non iaculis at, laoreet nec massa. Proin vulputate tincidunt mauris vestibulum tempor. Donec non tellus ligula. Ut a nunc quis risus ultricies condimentum. Mauris mollis eu lorem nec sodales. "
			},
			"dictionaryName": {
				"description": "Data Dictionary name",
				"type": "string",
				"pattern": "^[a-zA-Z0-9-_@.+]{1,255}$",
				"minLength": 1,
				"maxLength": 255,
				"example": "Banking"
			},
			"dictionaryShared": {
				"description": "This parameter allows to share the dictionary and its contents for the read-only users and it can be used in the IDE plugins.",
				"type": "string",
				"enum": [
					"yes",
					"no"
				],
				"default": "no"
			},
			"protobufAny": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"typeUrl": {
						"type": "string",
						"description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
					},
					"value": {
						"pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
						"type": "string",
						"description": "Must be a valid serialized protocol buffer of the above specified type.",
						"format": "byte"
					}
				},
				"description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
			},
			"rpcStatus": {
				"type": "object",
				"additionalProperties": false,
				"properties": {
					"code": {
						"type": "integer",
						"format": "int32",
						"minimum": 0,
						"maximum": 2147483647
					},
					"message": {
						"type": "string",
						"pattern": "^.*$",
						"minLength": 0,
						"maxLength": 999999999999
					},
					"details": {
						"type": "array",
						"minItems": 0,
						"maxItems": 999999999999,
						"items": {
							"$ref": "#/components/schemas/protobufAny"
						}
					}
				}
			}
		}
	}
}